.homeContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.alertPanel {
  height: 97vh;
  background-color: white;
  width: 70%;
  overflow-y: scroll;
}
form {
  display: flex;
  flex-direction: column;
}

.logoImg {
  width: 65%;
  height: auto;
}

input {
  font-family: Gill Sans, sans-serif;
  font-size: 16px;
}

input[type="submit"] {
  border: none;
  border-radius: 30px;
  background: #436a96;
  color: #f0f0f0;
  padding: 10px 40px;
  margin-bottom: 40px;
}
