body {
  margin: 0;
  background-color: #f0f8ff;
  font-family: Gill Sans, sans-serif;
  font-weight: 300;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h3,
h4 {
  font-weight: 600;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.row {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}

.centered {
  align-items: center;
}

.column {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  align-items: center;
}
