body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F0F8FF;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
}

form {
    display: flex;
    flex-direction: column;
}

img {
    width: 45%;
    height: auto;
}

input {
    font-family: 'Nunito', sans-serif;
}

input[type="submit"] {
    border: none;
    border-radius: 30px;
    background: #436a96;
    color: #f0f0f0;
    padding: 10px 40px;
    margin-bottom: 40px;
}